* {
    box-sizing: border-box;
    /* border: 1px double yellow; */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
    background-color: #ffffff;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    color: #A91D3A;
}

@media (min-width: 1024px) {
    h1 {

        font-size: 80px;

    }

}

h2, h3, h4, h5, h6, a, button {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 26px;
}

@media (min-width: 1024px) {
    h2 {
        font-size: 40px;
    }
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.438);
}

a:hover {
    transform: scale(1.1);
}

p {
    font-family: "Inter", sans-serif;  
}

header {
    width: 100%;
}

.header-outer-wrapper {
    padding: 30px;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 200px;
}

.logo-container img {
    width: 100%;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-desktop {
    width: 80%;
    display: flex;
    transform-origin: right;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .nav-desktop {
        display: none;
    }
}

button {
    border: none;
    
    background-color: #C73659 ;
    padding: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

button:hover {
    transform: scale(1.1);
    background-color: #A91D3A;
    
}

main section {
    width: 100%;
}

.nav-mobile {
    display: flex;

    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}

@media (min-width: 1024px) {
    .nav-mobile {
        display: none;
    }
}

.nav-mobile a {
    color: white;
    font-size: 16px;
}

.hamb-lines {
width: 30px;
border: 1px solid black;
margin-bottom: 5px;
transform: translateY(0) rotate(0deg);
transition: transform 0.5s ease;
}

.hamb-menu-panel {
display: block;
position: absolute;
top: 50px;
right: -400px;
background-color: #C73659;
color: white;
font-size: 32px;
font-family: "Balthazar", serif;
transition: right 0.5s ease;
width: 100px;

}

.hamb-menu-panel ul {
padding: 0;
margin: 0;
}

.li-wrapper {
border-bottom: 1px solid white;
padding: 20px;
}

.li-wrapper li {
list-style-type: none;
}


.main1-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0%;
    background-color: #c7365854;
    background-blend-mode: multiply;
}

@media (max-width: 800px) {
    .main1-hero {
        background-position: 60% 0%;
    }

}

@media (min-width: 1100px) {
    .main1-hero {
        background-position: 0% 0%;
    }

}

.main-outer-wrapper {
    padding: 20px;
}

@media (min-width: 1600px) {
    .main-outer-wrapper {
        padding: 100px 130px;
    }

}

.main1-hero p {

    font-size: 16px;
    color: rgb(255, 255, 255);
}

@media (min-width: 1024px) {
    .main1-hero p {
        font-size: 20px;
    }

}

.main1-text {
    width: 50%;
}

@media (min-width: 900px) {
    .main1-text {
        width: 100%;
    }

}

.main1-text * {
    margin: 35px 0px;
}

.main2-about {
    background-size: 125%;
    background-position: 50% 0%;
}

.main2-about .main-outer-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media (min-width: 1024px) {
    .main2-about .main-outer-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


.main2-img-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 10px;
    transform: rotate(3deg);
    z-index: 2;

}

@media (min-width: 1024px) {
    .main2-img-container {
        width: 40%;
    
    }
}

.main2-text {
    width: 100%;
    padding-left: 19%;
    padding-top: 60px;
    background-size: 159%;
    transform: rotate(-1deg);
    z-index: 1;
}

@media (min-width: 1024px) {
    .main2-text {
        width: 60%;
        padding-left: 12%;
    
    }
}

.main2-text p {
    line-height: 37px;
    font-size: 16px;
}

@media (min-width: 1300px) {
    .main2-text p {
        line-height: 44px;
        font-size: 20px;
    }

}

.main2-text h2 {
    margin-bottom: 50px;
    font-weight: 300;
    color: #C73659;
}

.profile-pic {
    width: 120%;
}

.main3-servicos {
    width: 100%;
}

.main3-servicos .main-outer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main3-servicos h2 {
    color: #C73659;

}

.main3-servicos h3 {
    font-weight: 400;

}

.main3-servicos h4 {
    font-weight: 300;
    line-height: 30px;

}

.main3-flexbox {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 1024px) {
    .main3-flexbox {
        flex-direction: row;
    }

}

.servicos {
    width: 100%;
    margin: 5px;
}

@media (min-width: 1024px) {
    .servicos {
        width: 33%;
        margin: 5px;
    }

}



.main3-flexbox img {
    width: 100px;
}

.main4-consultorio {
    width: 100%;
    background-color: #C73659;
}


.main4-flexbox {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .main4-flexbox {
        display: block;
    }
    
}

.main4-text {
    width: 700px;
    padding: 50px;
    background-color: #C73659;
    transition: opacity 0.25s ease;
}

@media (max-width: 1024px) {
    .main4-text {
        text-align: center;
        width: 100%;
    }
    

}

@media (min-width: 1600px) {
    .main4-text {
        padding: 150px;
    }
    

}

.main4-img {
    width: 75%;
    transition: opacity 0.25s ease;
    background-size: cover;
}

@media (max-width: 1024px) {
    .main4-img {
        width: 100%;
        min-height: 400px;
        max-height: 700px;
        border: 20px solid #C73659;
        border-top: 50px solid #C73659;
        background-position: center;
    }

}


.main4-consultorio h2 {
    color: rgba(0, 0, 0, 0.699);

}

.main4-consultorio p {
    line-height: 40px;
    color: white;
}

.main4-consultorio button {
    columns: white;
    background-color: rgba(0, 0, 0, 0.699);
}


.main4-consultorio .main-outer-wrapper {
    padding: 0px;
}

.main5-contato {
    width: 100%;
}

.main5-contato .main-outer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main5-contato h2 {
    color: #C73659;

    margin-top: 0px;
}

.main5-contato img {
    width: 50px;
}



.main5-flexbox {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;

}

@media (max-width: 600px) {
    .main5-flexbox {
    flex-direction: column;

    }
}

.main5-left, .main5-middle {
    width: 50%;
    text-align: center;
}

@media (max-width: 600px) {
    .main5-left, .main5-middle {
        width: 100%;
        margin: 10px 0px;
    }
}

.main5-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

@media (max-width: 600px) {
    .main5-container {
        flex-direction: column;
    }
    

}



.main5-container * {
    margin: 0px 10px;
}

@media (max-width: 800px) {
    .main5-container * {
        margin: 0px 5px;
    }

}

.main5-contato p {
    font-size: 16px;
}

@media (max-width: 800px) {
    .main5-contato p {
        font-size: 14px;
    }

}

.iframe-container {
    width: 80%;
    border: 1px solid #C73659;
}

.main5-contato iframe {
    width: 100%;

}

footer {
    width: 100%;
    text-align: center;
    background-color: #A91D3A;
    color: white;
    padding: 10px;
}